{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    Notre formulaire
    {{ form_start(bookForm) }}
        {{ form_row(bookForm.author) }}
        {{ form_row(bookForm.title) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(bookForm) }}
{% endblock %}